<div id="countdown-create" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新建倒计时</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for Countdown.new, remote: true do |field| %>
          <div class="form-group">
            <%= field.input :event, class: "form-control is-valid" %>
          </div>
          <div class="form-group">
            <%= field.input :end_at, as: :date, start_year: Date.today.year, end_year: Date.today.year + 100, class: "form-control is-valid" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <%= submit_tag "保存", form: "new_countdown", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#countdown-create">
  Launch demo modal
</button>

<% if user_signed_in? %>
  <%= current_user.name %>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
  <%= link_to 'SignIn/SignUp with github', '/auth/github' %>
<% end %>



<div class="container">
  <div class="row">
    <% Countdown.all.each do |countdown| %>
      <div class="card text-center col-5 offset-1">
        <div class="card-header d-flex justify-content-center align-items-center">
          <%= countdown.event %>
          <h5>还有</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= countdown.remain_days %>天</h5>
        </div>
        <!-- <div class="card-footer text-muted">
          <%= countdown.remain_days %>
        </div> -->
      </div>
    <% end %>
  </div>
</div>
