<%= render 'new_modal' %>

<div class="container d-flex justify-content-between" style='margin-top:24px'>
  <div class="left">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#countdown-create">
      New Countdown
    </button>
  </div>
  <div class="right">
    <% if user_signed_in? %>
      <%= current_user.name %>
      <%= link_to 'Logout', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'SignIn/SignUp with github', '/auth/github' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% Countdown.all.each do |countdown| %>
      <div class="card text-center col-5 offset-1">
        <div class="card-header d-flex justify-content-center align-items-center">
          <%= countdown.event %>
          <h5>还有</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= countdown.remain_days %>天</h5>
        </div>
        <!-- <div class="card-footer text-muted">
          <%= countdown.remain_days %>
        </div> -->
      </div>
    <% end %>
  </div>
</div>
